.is-black {
  color: $black;
}

.is-grey-darker {
  color: $grey-darker	;
}

.is-grey-dark {
  color: $grey-dark;
}

.is-grey {
  color: $grey;
}

.is-grey-light {
  color: $grey-light;
}

.is-grey-lighter {
  color: $grey-lighter;
}

.is-white {
  color: $white;
}

.is-blue {
  color: $blue;
}

.is-green {
  color: $green;
}

.is-orange {
  color: $orange;
}

.is-purple {
  color: $purple;
}

.is-red {
  color: $red;
}

.is-turquoise {
  color: $turquoise;
}

.is-yellow {
  color: $yellow;
}

.background-is-black {
  background: $black;
}

.background-is-grey-darker {
  background: $grey-darker	;
}

.background-is-grey-dark {
  background: $grey-dark;
}

.background-background-is-grey {
  background: $grey;
}

.background-is-grey-light {
  background: $grey-light;
}

.background-is-grey-lighter {
  background: $grey-lighter;
}

.background-is-white {
  background: $white;
}

.background-is-blue {
  background: $blue;
}

.background-is-green {
  background: $green;
}

.background-is-orange {
  background: $orange;
}

.background-is-purple {
  background: $purple;
}

.background-is-red {
  background: $red;
}

.background-is-turquoise {
  background: $turquoise;
}

.background-is-yellow {
  background: $yellow;
}
