.color-is-black {
  color: $black !important;
}

.color-is-grey-darker {
  color: $grey-darker !important;
}

.color-is-grey-dark {
  color: $grey-dark !important;
}

.color-is-grey {
  color: $grey !important;
}

.color-is-grey-light {
  color: $grey-light !important;
}

.color-is-grey-lighter {
  color: $grey-lighter !important;
}

.color-is-white {
  color: $white !important;
}

.color-is-blue {
  color: $blue !important;
}

.color-is-green {
  color: $green !important;
}

.color-is-orange {
  color: $orange !important;
}

.color-color-is-purple {
  color: $purple !important;
}

.color-is-red {
  color: $red !important;
}

.color-is-turquoise {
  color: $turquoise !important;
}

.color-is-yellow {
  color: $yellow !important;
}

.background-is-black {
  background: $black !important;
}

.background-is-grey-darker {
  background: $grey-darker !important;
}

.background-is-grey-dark {
  background: $grey-dark !important;
}

.background-background-is-grey {
  background: $grey !important;
}

.background-is-grey-light {
  background: $grey-light !important;
}

.background-is-grey-lighter {
  background: $grey-lighter !important;
}

.background-is-white {
  background: $white !important;
}

.background-is-blue {
  background: $blue !important;
}

.background-is-green {
  background: $green !important;
}

.background-is-orange {
  background: $orange !important;
}

.background-is-purple {
  background: $purple !important;
}

.background-is-red {
  background: $red !important;
}

.background-is-turquoise {
  background: $turquoise !important;
}

.background-is-yellow {
  background: $yellow !important;
}
