.block {
  &:not(:last-child) {
    margin-bottom: 1.25em;
  }
}

.container {
  position: relative;
  @include desktop {
    margin: 0 auto;
    max-width: 60em;
    &.is-fluid {
      margin: 0 1.25em;
      max-width: none;
    }
  }
  @include widescreen {
    max-width: 75em;
  }  
}

.fa {
  font-size: $fa-font-size;
  text-align: center;
  vertical-align: top;
}
