.flex-is-flex-justify-content-start {
  justify-content: flex-start;
}

.flex-is-justify-content-end {
  justify-content: flex-end;
}

.flex-is-justify-content-center {
  justify-content: center;
}

.flex-is-justify-content-space-between {
  justify-content: space-between;
}

.flex-is-justify-content-space-around {
  justify-content: space-around;
}

.flex-is-wrap-nowrap {
  flex-wrap: nowrap;
}

.flex-is-wrap {
  flex-wrap: wrap;
}

.flex-is-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-is-direction-row {
  flex-direction: row;
}

.flex-is-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-is-direction-column {
  flex-direction: column;
}

.flex-is-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-is-align-items-stretch {
  align-items: stretch;
}

.flex-is-align-items-baseline {
  align-items: baseline;
}

.flex-is-align-items-center {
  align-items: center;
}

.flex-is-align-items-start {
  align-items: flex-start;
}

.flex-is-align-items-end {
  align-items: flex-end;
}

.flex-is-align-content-stretch {
  align-content: stretch;
}

.flex-is-align-content-center {
  align-content: center;
}

.flex-is-align-content-end {
  align-content: flex-end;
}

.flex-is-align-content-start {
  align-content: flex-start;
}

.flex-is-align-content-space-around {
  align-content:space-around;
}

.flex-is-align-content-space-between {
  align-content:space-between;
}

.flex-is-align-self-start {
  align-self: flex-start;
}

.flex-is-align-self-end {
  align-self: flex-end;
}

.flex-is-align-self-center {
  align-self: center;
}

.flex-is-align-self-baseline {
  align-self: baseline;
}

.flex-is-align-self-auto {
  align-self: auto;
}
