html {
  background: $body-background;
  font-size: $size-normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 18.750em;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}
article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}
body,
button,
input,
select,
textarea {
  font-family: $family-primary;
}
code,
pre {
  font-smooth: auto;
  font-family: $family-code;
  line-height: 1.25em;
}
body {
  color: $text;
  font-size: 1em;
  font-weight: $weight-normal;
  line-height: 1.428571428571429em;
}
a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: none $speed $easing;
  &:hover {
    color: $link-hover;
  }
}
code {
  background: $code-background;
  color: $code;
  font-size: 0.750em;
  font-weight: normal;
  padding: 0.063em 0.125em 0.125em;
}
hr {
  border-top-color: $border;
  margin: $block-base-margin 0;
}
img {
  max-width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}
small {
  font-size: $size-small;
}
span {
  font-style: inherit;
  font-weight: inherit;
}
strong {
  color: $text-strong;
  font-weight: $weight-bold;
}
pre {
  background: $pre-background;
  color: $pre;
  white-space: pre;
  word-wrap: normal;
  code {
    background: $pre-background;
    color: $pre;
    display: block;
    overflow-x: auto;
    padding: 1em 1.25em;
  }
}
table {
  width: 100%;
  th,
  td {
    text-align: left;
    vertical-align: top;
  }
  th {
    color: $text-strong;
  }
}
